.about {
  margin-bottom: 200px;
}
.about__title {
  margin-bottom: 36px;
}
.about__body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 10px;
}
.about__content {
  max-width: 1023px;
  width: 100%;
  font-size: 16px;
  line-height: 130%;
}
.about__content > *:not(:last-child) {
  margin-bottom: 20px;
}
.about__content > a {
  max-width: fit-content;
  display: block;
}
.about__content h1,
.about__content h2,
.about__content h3,
.about__content h4,
.about__content h5,
.about__content h6 {
  font-weight: 400;
  line-height: 110%;
}
.about__content h1 span,
.about__content h2 span,
.about__content h3 span,
.about__content h4 span,
.about__content h5 span,
.about__content h6 span {
  color: var(--brand-color);
}
.about__content h1:not(:first-child),
.about__content h2:not(:first-child),
.about__content h3:not(:first-child),
.about__content h4:not(:first-child),
.about__content h5:not(:first-child),
.about__content h6:not(:first-child) {
  margin-top: 29px;
}
.about__content h1 {
  line-height: 100%;
}
.about__content ul,
.about__content ol {
  padding-left: 25px;
}
.about__content ul li {
  list-style: disc;
}
.about__content a:not(.textblock__tag) {
  font-weight: 600;
  text-decoration: underline;
}
.about__content img {
  margin-right: 20px;
}
.about__img {
  max-width: 727px;
  width: 100%;
  display: grid;
  position: relative;
}
.about__img > img {
  width: 100%;
  object-fit: cover;
}
.about__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 553px;
  width: 100%;
  padding: 22px;
}
.about__logo img {
  width: 100%;
  object-fit: cover;
}
@media (max-width: 47.99875em) {
  .about {
    margin-bottom: 100px;
  }
  .about__title {
    text-align: center;
  }
  .about__body {
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}
@media (width <= 29.99875em) {
  .about__content h1 {
    font-size: 40px;
  }
  .about__content h2 {
    font-size: 36px;
  }
  .about__content h3 {
    font-size: 32px;
  }
  .about__content h4 {
    font-size: 24px;
  }
  .about__content h5 {
    font-size: 20px;
  }
  .about__content h6 {
    font-size: 18px;
  }
}
@media (max-width: 29.99875em) {
  .about__content {
    font-size: 14px;
  }
  .about__img {
    aspect-ratio: 335/400;
  }
  .about__img > img {
    height: 100%;
  }
}
@media (width > 29.99875em) and (width <= 112.5em) {
  .about__content h1 {
    font-size: clamp( 40px , 25.4553718883px  +  3.0302571173vw , 80px );
  }
  .about__content h2 {
    font-size: clamp( 36px , 25.8187603218px  +  2.1211799821vw , 64px );
  }
  .about__content h3 {
    font-size: clamp( 32px , 29.0910743777px  +  0.6060514235vw , 40px );
  }
  .about__content h4 {
    font-size: clamp( 24px , 19.6366115665px  +  0.9090771352vw , 36px );
  }
  .about__content h5 {
    font-size: clamp( 20px , 18.5455371888px  +  0.3030257117vw , 24px );
  }
  .about__content h6 {
    font-size: clamp( 18px , 17.2727685944px  +  0.1515128559vw , 20px );
  }
}
@media (width > 112.5em) {
  .about__content h1 {
    font-size: 80px;
  }
  .about__content h2 {
    font-size: 64px;
  }
  .about__content h3 {
    font-size: 40px;
  }
  .about__content h4 {
    font-size: 36px;
  }
  .about__content h5 {
    font-size: 24px;
  }
  .about__content h6 {
    font-size: 20px;
  }
}
@media (any-hover: hover) {
  .about__content a:not(.textblock__tag):hover {
    color: var(--100-black-60);
    text-decoration: none;
  }
}