.advantages {
  margin-bottom: 200px;
}
.advantages::before {
  top: -214px;
}
.advantages__logo {
  max-width: 1096px;
  width: 100%;
  margin: 0 auto 36px auto;
}
.advantages__logo img {
  width: 100%;
  object-fit: cover;
}
.advantages__items {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.advantages__items > * {
  flex: 1 1 auto;
  max-width: 344px;
  width: calc(20% - 10px);
  min-width: 220px;
}
.advantages__items > *:nth-child(odd) {
  margin-top: 53px;
}
.advantages__item {
  border: 2px solid var(--50-grey);
  background-color: var(--100-white);
  padding: 16px 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-height: 135px;
}
.advantages__item-num {
  line-height: 110%;
}
.advantages__item-text {
  font-size: 16px;
  line-height: 130%;
}
@media (max-width: 47.99875em) {
  .advantages {
    margin-bottom: 100px;
  }
  .advantages::before {
    display: none;
  }
  .advantages__logo {
    display: none;
  }
}
@media (max-width: 34.37375em) {
  .advantages__items {
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
  }
  .advantages__items > * {
    max-width: none;
    width: 100%;
    min-width: 0;
  }
  .advantages__items > *:nth-child(odd) {
    margin-top: 0px;
  }
}
@media (width <= 29.99875em) {
  .advantages__item-num {
    font-size: 32px;
  }
}
@media (max-width: 29.99875em) {
  .advantages__item {
    justify-content: center;
    padding: 16px 25px;
  }
  .advantages__item-text {
    font-size: 15px;
  }
}
@media (width > 29.99875em) and (width <= 112.5em) {
  .advantages__item-num {
    font-size: clamp( 32px , 29.0910743777px  +  0.6060514235vw , 40px );
  }
}
@media (width > 112.5em) {
  .advantages__item-num {
    font-size: 40px;
  }
}