.blog {
  margin-bottom: 200px;
}
.blog__title {
  margin-bottom: 36px;
}
.blog__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 10px;
}
.blog__items:not(:last-child) {
  margin-bottom: 64px;
}
.blog__more {
  margin: 0 auto;
}
.blog__more:not(:last-child) {
  margin-bottom: 36px;
}

.blog-card {
  display: flex;
  flex-direction: column;
  position: relative;
}
.blog-card > *:not(:last-child) {
  margin-bottom: 8px;
}
.blog-card__img {
  flex: 1 1 auto;
  aspect-ratio: 580/300;
  display: grid;
  overflow: hidden;
}
.blog-card__img:not(:last-child) {
  margin-bottom: 12px;
}
.blog-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s;
}
.blog-card__date {
  font-size: 14px;
  color: var(--60-black);
}
.blog-card__title {
  line-height: 1.05625em;
  max-height: calc(1.05625em * 2);
  min-height: calc(1.05625em * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
  transition: color 0.3s;
}
.blog-card__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}
.blog-card__text {
  font-size: 16px;
  line-height: 130%;
  line-height: 1.05625em;
  max-height: calc(1.05625em * 2);
  min-height: calc(1.05625em * 2);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (max-width: 61.99875em) {
  .blog-card__img {
    aspect-ratio: 335/300;
  }
}
@media (max-width: 47.99875em) {
  .blog {
    margin-bottom: 100px;
  }
  .blog__title {
    margin-bottom: 24px;
    text-align: center;
  }
  .blog__items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 24px 10px;
  }
  .blog__items:not(:last-child) {
    margin-bottom: 36px;
  }
}
@media (max-width: 29.99875em) {
  .blog-card__date {
    font-size: 12px;
  }
  .blog-card__text {
    font-size: 14px;
  }
}
@media (min-width: 47.99875em) {
  .blog__items > *:nth-child(10n+1), .blog__items > *:nth-child(10n+8) {
    grid-row: span 2;
  }
  .blog__items > *:nth-child(10n+1) .blog-card__img, .blog__items > *:nth-child(10n+8) .blog-card__img {
    aspect-ratio: auto;
  }
}
@media (any-hover: hover) {
  .blog-card:hover .blog-card__img img {
    transform: scale(1.05);
  }
  .blog-card__title:hover {
    color: var(--100-black-60);
  }
}