.favorite {
  margin-bottom: 200px;
}
.favorite__title {
  margin-bottom: 36px;
}
.favorite__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.favorite__items:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 81.24875em) {
  .favorite__items {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
@media (max-width: 47.99875em) {
  .favorite {
    margin-bottom: 100px;
  }
  .favorite__title {
    text-align: center;
  }
  .favorite__items {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
  .favorite__items:not(:last-child) {
    margin-bottom: 24px;
  }
}
@media (max-width: 23.12375em) {
  .favorite__items {
    grid-template-columns: 1fr;
  }
}