.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--100-white);
  z-index: 50;
}
.header__top {
  padding: 20px 0;
  position: relative;
}
.header__top .header__container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 16px;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
  gap: 72px;
}
.header__left > *:not(:last-child) {
  position: relative;
}
.header__left > *:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 36px);
  transform: translate(0px, -50%);
  width: 1px;
  height: 16px;
  background-color: var(--50-grey);
}
.header__catalog {
  align-self: stretch;
  margin: -20px 0;
  display: flex;
}
.header__catalog-list {
  display: flex;
  flex-wrap: wrap;
}
.header__catalog-item {
  display: flex;
}
.header__catalog-link {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-transform: uppercase;
  transition: background 0.3s, color 0.3s;
}
.header__catalog-link.is-active {
  background-color: var(--100-black);
  color: var(--100-white);
}
.header__logo {
  margin: auto;
  max-width: 240px;
  width: 100%;
  transition: opacity 0.3s;
}
.header__logo img {
  width: 100%;
  object-fit: cover;
}
.header__right {
  justify-content: end;
}
.header__right > *:not(:first-child) {
  position: relative;
}
.header__right > *:not(:first-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: calc(100% + 36px);
  transform: translate(0px, -50%);
  width: 1px;
  height: 16px;
  background-color: var(--50-grey);
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 72px;
}
.header__actions > *:not(:last-child) {
  position: relative;
}
.header__actions > *:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  left: calc(100% + 36px);
  transform: translate(0px, -50%);
  width: 1px;
  height: 16px;
  background-color: var(--50-grey);
}
.header__actions-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.header__action {
  min-width: 40px;
  min-height: 40px;
  border-radius: 40px;
  display: grid;
  place-content: center;
  padding: 5px;
  color: var(--100-black);
  position: relative;
  transition: background 0.3s, color 0.3s;
}
.header__action.is-active {
  background-color: var(--100-black);
  color: var(--100-white);
}
.header__action--cart {
  display: none;
}
.header__action-count {
  position: absolute;
  right: -2px;
  top: 0;
  background-color: var(--100-black);
  color: var(--100-white);
  padding: 2px 3px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 16px;
  font-weight: 600;
  font-size: 12px;
  display: grid;
  place-content: center;
}
.header__cart {
  display: flex;
  align-items: center;
  gap: 12px;
  text-align: left;
}
.header__cart-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  padding: 5px;
  border: 1px solid var(--50-grey);
  color: var(--100-black);
  transition: color 0.3s, border 0.3s, background 0.3s;
}
.header__cart-body {
  display: grid;
}
.header__cart-count {
  font-size: 11px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--100-black-80);
}
.header__cart-total {
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--100-black-80);
}
.header__nav {
  padding: 9px 0;
}
.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px 23px;
}
.header__nav-link {
  padding: 8px 1.5px;
  font-size: 16px;
  color: var(--100-black-80);
  position: relative;
  transition: color 0.3s;
}
.header__nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--100-black);
  opacity: 0;
  transition: opacity 0.3s;
}
@media (max-width: 87.49875em) {
  .header__left, .header__right {
    gap: 48px;
  }
  .header__left > *:not(:last-child)::after {
    left: calc(100% + 24px);
  }
  .header__catalog-link {
    padding: 12px;
  }
  .header__right > *:not(:first-child)::after {
    right: calc(100% + 24px);
  }
  .header__actions {
    gap: 48px;
  }
  .header__actions > *:not(:last-child)::after {
    left: calc(100% + 24px);
  }
}
@media (max-width: 74.99875em) {
  .header__logo {
    max-width: 161px;
  }
}
@media (max-width: 68.74875em) {
  .header__catalog {
    margin: 0;
  }
  .header__catalog:not(.--dynamic) {
    display: none;
  }
  .header__catalog-list {
    flex-direction: column;
    width: 100%;
  }
  .header__catalog-link {
    width: 100%;
    min-height: 64px;
    justify-content: space-between;
    gap: 10px;
    font-weight: 400;
    border-bottom: 1px solid var(--50-grey);
  }
  .header__catalog-link::after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.707031 0.707031L6.70703 6.70703L0.707031 12.707' stroke='%23B7B7B7' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 14px;
  }
  .header__actions {
    flex-wrap: wrap;
    gap: 12px 48px;
  }
  .header__actions:not(.--dynamic) {
    display: none;
  }
  .header__action--cart {
    display: grid;
  }
}
@media (max-width: 61.99875em) {
  .header__top {
    padding: 12px 0;
  }
  .header__container {
    padding: 0 12px;
  }
}
@media (max-width: 47.99875em) {
  .header__catalog {
    flex-direction: column;
  }
}
@media (max-width: 40.62375em) {
  .header__catalog-link {
    font-size: 18px;
  }
  .header__action--search {
    display: none;
  }
  .header__cart {
    flex: 1 1 auto;
  }
  .header__nav {
    padding: 0;
  }
  .header__nav:not(.--dynamic) {
    display: none;
  }
  .header__nav-list {
    align-items: stretch;
    flex-direction: column;
    gap: 0;
  }
  .header__nav-link {
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: var(--100-black);
    border-bottom: 1px solid var(--50-grey);
  }
  .header__nav-link::before {
    display: none;
  }
  .header__nav-link::after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3Csvg width='9' height='14' viewBox='0 0 9 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.707031 0.707031L6.70703 6.70703L0.707031 12.707' stroke='%23B7B7B7' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px 14px;
  }
}
@media (max-width: 29.99875em) {
  .header__actions-block {
    flex: 1 1 auto;
  }
  .header__cart {
    order: -1;
    width: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--50-grey);
  }
}
@media (any-hover: hover) {
  .header__catalog-link:hover {
    background-color: var(--30-grey);
    color: var(--100-black);
  }
  .header__catalog-link.is-active:hover {
    background-color: var(--100-black);
    color: var(--100-white);
  }
  .header__logo:hover {
    opacity: 0.7;
  }
  .header__action:hover {
    background-color: var(--30-grey);
  }
  .header__cart:hover .header__cart-icon {
    background-color: var(--50-grey);
  }
  .header__nav-link:hover {
    color: var(--100-black);
  }
  .header__nav-link:hover::before {
    opacity: 1;
  }
}