.mission {
  margin-bottom: 200px;
}
.mission__head:not(:last-child) {
  margin-bottom: 36px;
}
.mission__head > *:not(:last-child) {
  margin-bottom: 20px;
}
.mission__title {
  text-align: center;
}
.mission__title:not(:last-child) {
  margin-bottom: 36px;
}
.mission__text {
  font-size: 16px;
  line-height: 130%;
}
.mission__text > *:not(:last-child) {
  margin-bottom: 20px;
}
.mission__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media (max-width: 47.99875em) {
  .mission {
    margin-bottom: 100px;
  }
  .mission__images {
    flex-direction: column;
    gap: 36px;
  }
  .mission__images img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}