.offers {
  margin-bottom: 200px;
}
.offers__body {
  display: flex;
  gap: 10px;
}
.offers__info {
  max-width: 33%;
  width: 100%;
  min-width: min-content;
  border: 1px solid var(--50-grey);
  padding: 36px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  text-align: center;
}
.offers__logo {
  max-width: 179px;
  width: 100%;
}
.offers__logo img {
  width: 100%;
  object-fit: cover;
}
.offers__content {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.offers__items {
  max-height: 800px;
  overflow: hidden auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px 10px;
}
.offers__more {
  display: none;
}
.offers__products {
  min-width: 0;
  max-width: 1170px;
  width: 100%;
  position: relative;
}
.offers__slider {
  margin-bottom: -20px;
}
.offers__slider:not(.swiper-initialized) .swiper-slide:nth-child(n+4) {
  display: none;
}
.offers__slider:not(.swiper-initialized) .swiper-wrapper {
  gap: 10px;
}
.offers__slider .swiper-pagination {
  display: none;
}
.offers__wrapper:not(:last-child) {
  margin-bottom: 16px;
}
.offers__arrows {
  position: absolute;
  top: 50%;
  left: -28px;
  right: -28px;
  z-index: 3;
  transform: translate(0px, -50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  pointer-events: none;
}
.offers__arrows > * {
  pointer-events: all;
}
@media (max-width: 112.5em) {
  .offers__arrows {
    left: -16px;
    right: -16px;
  }
}
@media (max-width: 74.99875em) {
  .offers__slider:not(.swiper-initialized) .swiper-slide:nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 61.99875em) {
  .offers__body {
    flex-direction: column;
  }
  .offers__info {
    max-width: 100%;
    gap: 36px;
  }
  .offers__content {
    gap: 20px;
  }
  .offers__content.is-active .offers__items {
    max-height: 5000px;
  }
  .offers__items {
    overflow: hidden;
    transition: max-height 0.5s;
  }
  .offers__more {
    display: flex;
    margin: 0 auto;
  }
}
@media (max-width: 47.99875em) {
  .offers {
    margin-bottom: 100px;
  }
  .offers__info {
    padding: 16px 0;
    border: none;
    border-bottom: 1px solid var(--50-grey);
  }
  .offers__items {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .offers__slider .swiper-scrollbar {
    display: none;
  }
  .offers__slider .swiper-pagination {
    display: flex;
  }
  .offers__wrapper:not(:last-child) {
    margin-bottom: 24px;
  }
  .offers__arrows {
    display: none;
  }
}
@media (max-width: 40.62375em) {
  .offers__items {
    grid-template-columns: 1fr;
    gap: 0;
    max-height: 648px;
  }
}
@media (max-width: 23.12375em) {
  .offers__slider:not(.swiper-initialized) .swiper-slide:nth-child(n+2) {
    display: none;
  }
}
@media (min-width: 61.99875em) {
  .offers__items {
    padding-right: 10px;
  }
  .offers__items::-webkit-scrollbar {
    width: 4px;
    display: block;
  }
  .offers__items::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 0px;
    border: none;
  }
  .offers__items::-webkit-scrollbar-thumb {
    background-color: var(--50-grey);
    border-radius: 0px;
    border: none;
    cursor: grab;
  }
  .offers__items::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
  }
}