.order__title {
  max-width: 54.3%;
  width: 100%;
  padding: 46px 15px 36px 0;
  border-right: 1px solid var(--50-grey);
}
.order__body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
.order__content {
  align-self: stretch;
  max-width: 54.3%;
  min-width: 54.3%;
  width: 100%;
  padding-bottom: 169px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--50-grey);
}
.order__content > *:not(:last-child) {
  margin-bottom: 24px;
}
.order__block {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 24px;
  position: relative;
}
.order__block::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1px;
  width: 100vw;
  background-color: var(--50-grey);
}
.order__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.order__inputs > * {
  flex: 1 1 290px;
  width: calc(50% - 10px);
}
.order__rows {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media (width <= 61.99875em) {
  .order__content > * {
    padding-right: 24px;
  }
}
@media (max-width: 47.99875em) {
  .order {
    margin-bottom: 100px;
  }
  .order__title {
    padding: 24px 0;
    max-width: none;
    text-align: center;
    border-right: none;
  }
  .order__body {
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
  }
  .order__content {
    max-width: none;
    min-width: 0;
    border-right: none;
    padding-bottom: 0;
  }
  .order__content > * {
    padding-right: 0;
  }
  .order__block {
    padding-bottom: 0;
    gap: 24px;
  }
  .order__block::after {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .order__inputs {
    flex-direction: column;
  }
  .order__inputs > * {
    flex: 1 1 auto;
    width: 100%;
  }
}
@media (width > 61.99875em) and (width <= 112.5em) {
  .order__content > * {
    padding-right: clamp( 24px , -52.1153931833px  +  7.6730773991vw , 86px );
  }
}
@media (width > 112.5em) {
  .order__content > * {
    padding-right: 86px;
  }
}