.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.pagination__arrow {
  flex-shrink: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: grid;
  place-content: center;
  color: var(--80-black);
  background-color: var(--100-white);
  transition: color 0.3s, background 0.3s;
}
.pagination__arrow[disabled] {
  pointer-events: none;
  cursor: default;
  color: var(--100-black-40);
}
.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pagination__link {
  min-width: 52px;
  min-height: 52px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
}
.pagination__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--80-grey);
  opacity: 0;
  transition: opacity 0.3s;
}
.pagination__link.is-active {
  pointer-events: none;
}
.pagination__link.is-active::before {
  background-color: var(--100-black);
  opacity: 1;
}
@media (max-width: 34.37375em) {
  .pagination {
    justify-content: space-between;
    gap: 8px;
  }
  .pagination__list > *:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 29.99875em) {
  .pagination__arrow {
    width: 48px;
    height: 48px;
  }
  .pagination__link {
    min-width: 48px;
    min-height: 48px;
  }
}
@media (any-hover: hover) {
  .pagination__arrow:hover {
    background-color: var(--30-grey);
    color: var(--100-black);
  }
  .pagination__arrow[disabled]:hover {
    color: var(--80-black);
    background-color: var(--100-white);
  }
  .pagination__link:hover::before {
    opacity: 1;
  }
}