body::after {
  content: "";
  background-color: var(--100-black-50);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

[data-fls-popup-open] body::after {
  opacity: 1;
}

[data-fls-popup] {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}
[data-fls-popup][data-fls-popup-active] {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

[data-fls-popup-active] [data-fls-popup-body] {
  visibility: visible;
  transform: scale(1);
}

[data-fls-popup-wrapper] {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-fls-popup-body] {
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease 0s, visibility 0.3s ease 0s;
  background-color: var(--100-white);
  width: 100%;
  max-width: 660px;
  padding: 32px 40px;
  position: relative;
}

[data-fls-popup-youtube-place] iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

.popup__close {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  color: var(--60-black);
  transition: color 0.3s;
}
.popup__content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.popup__head {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}
.popup__icon {
  width: 60px;
  height: 60px;
  display: grid;
}
.popup__icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.popup__title {
  font-weight: 600;
  text-transform: uppercase;
}
.popup__text {
  font-size: 16px;
  line-height: 130%;
}
.popup__form {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.popup__form-inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 10px;
}
.popup__form-inputs > * {
  flex: 1 1 auto;
  width: calc(50% - 10px);
  min-width: 220px;
}
.popup__btn {
  margin: 0 auto;
}
@media (max-width: 47.99875em) {
  [data-fls-popup-body] {
    padding: 52px 16px;
  }
  .popup__title {
    font-weight: 400;
    text-transform: none;
  }
}
@media (max-width: 29.99875em) {
  .popup__text br {
    display: none;
  }
  .popup__btn {
    max-width: 100%;
  }
}
@media (any-hover: hover) {
  .popup__close:hover {
    color: var(--100-black-50);
  }
}