.reviews {
  margin-bottom: 200px;
}
.reviews__body {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
}
.reviews__content {
  max-width: 965px;
  width: 100%;
}
.reviews__content > *:not(:last-child) {
  margin-bottom: 36px;
}
.reviews__head {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 24px;
  padding-bottom: 36px;
  border-bottom: 1px solid var(--50-grey);
}
.reviews__title {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.reviews__title span {
  color: var(--80-grey);
}
.reviews__rating {
  border: 3px solid var(--80-black);
  border-radius: 100px;
  min-width: 80px;
  min-height: 80px;
  padding: 6px;
  display: grid;
  place-content: center;
  font-weight: 600;
  font-size: 30px;
  color: var(--80-black);
}
.reviews__rating--none {
  border-color: var(--50-grey);
  color: var(--50-grey);
}
.reviews__items {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews__items:not(:last-child) {
  margin-bottom: 64px;
}
.reviews__form {
  max-width: 727px;
  width: 100%;
  border: 1px solid var(--50-grey);
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews__form textarea {
  min-height: 92px;
}
.reviews__form .input-field__message {
  min-height: 272px;
}
.reviews__form-title {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--50-grey);
}
.reviews__form-body {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.reviews__form-send {
  max-width: 100%;
}
.reviews__block {
  border: 1px solid var(--50-grey);
  min-height: 710px;
  padding: 48px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  text-align: center;
}
.reviews__block-logo {
  width: 100%;
}
.reviews__block-logo img {
  width: 100%;
  object-fit: cover;
}
.reviews__block-title {
  line-height: 100%;
}
.reviews__block-text {
  font-size: 16px;
  line-height: 130%;
}
.reviews__block-btn {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid var(--80-black);
  padding: 6px;
  display: grid;
  place-content: center;
  color: var(--80-black);
  transition: color 0.3s, border 0.3s;
}

.review-card {
  border-left: 5px solid var(--60-black);
  padding: 16px 0px 16px 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.review-card__srats {
  display: flex;
  align-items: center;
  gap: 7px;
}
.review-card__srats img {
  max-width: 32px;
  width: 100%;
  object-fit: cover;
}
.review-card__head {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 16px;
}
.review-card__date {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--80-grey);
}
.review-card__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}
.review-card__title {
  font-size: 24px;
  line-height: 110%;
}
.review-card__text {
  font-size: 16px;
  line-height: 130%;
}
@media (max-width: 74.99875em) {
  .reviews__form {
    padding: 24px;
  }
  .reviews__block {
    min-height: 0;
  }
  .review-card {
    padding-left: 24px;
  }
}
@media (max-width: 61.99875em) {
  .reviews__body {
    align-items: stretch;
    flex-direction: column;
    gap: 80px;
  }
  .reviews__content {
    max-width: 100%;
  }
  .reviews__form {
    max-width: 100%;
  }
  .reviews__block-btn {
    border-color: var(--50-grey);
    color: var(--50-grey);
  }
  .reviews__block-btn svg {
    transform: rotate(90deg);
  }
}
@media (max-width: 47.99875em) {
  .reviews {
    margin-bottom: 100px;
  }
  .reviews__block {
    gap: 24px;
  }
  .reviews__block-btn {
    width: 48px;
    height: 48px;
    border-width: 2px;
  }
  .reviews__block-btn svg {
    width: 16px;
    height: 16px;
  }
}
@media (width <= 29.99875em) {
  .reviews__block-logo {
    max-width: 121px;
  }
  .reviews__block-title {
    font-size: 40px;
  }
}
@media (max-width: 29.99875em) {
  .reviews__content > *:not(:last-child) {
    margin-bottom: 24px;
  }
  .reviews__head {
    justify-content: stretch;
    padding-bottom: 24px;
  }
  .reviews__title {
    align-items: stretch;
    flex-direction: column-reverse;
    gap: 4px;
  }
  .reviews__title span {
    font-size: 20px;
    line-height: 100%;
  }
  .reviews__rating {
    order: -1;
    font-size: 24px;
  }
  .reviews__form {
    padding: 0;
    border: none;
  }
  .reviews__form .input-field__message {
    min-height: 172px;
  }
  .reviews__block-text {
    font-size: 15px;
  }
  .reviews__block-text br {
    display: none;
  }
  .review-card {
    border-left: none;
    border-bottom: 1px solid var(--50-grey);
    padding: 16px 0px;
    gap: 12px;
  }
  .review-card__srats img {
    max-width: 24px;
  }
  .review-card__date {
    font-size: 15px;
  }
  .review-card__name {
    font-size: 15px;
  }
  .review-card__title {
    font-size: 20px;
  }
  .review-card__text {
    font-size: 15px;
  }
}
@media (max-width: 23.12375em) {
  .reviews__rating {
    min-width: 60px;
    min-height: 60px;
  }
}
@media (width > 29.99875em) and (width <= 112.5em) {
  .reviews__block-logo {
    max-width: clamp( 121px , 99.910289238px  +  4.3938728201vw , 179px );
  }
  .reviews__block-title {
    font-size: clamp( 40px , 31.273223133px  +  1.8181542704vw , 64px );
  }
}
@media (width > 112.5em) {
  .reviews__block-logo {
    max-width: 179px;
  }
  .reviews__block-title {
    font-size: 64px;
  }
}
@media (any-hover: hover) {
  .reviews__block-btn:hover {
    border-color: var(--50-grey);
    color: var(--50-grey);
  }
}