.text-section {
  margin-bottom: 200px;
}
.text-section__body {
  font-size: 16px;
  line-height: 130%;
}
.text-section__body > *:not(:last-child) {
  margin-bottom: 20px;
}
.text-section__body > a {
  max-width: fit-content;
  display: block;
}
.text-section__body h1,
.text-section__body h2,
.text-section__body h3,
.text-section__body h4,
.text-section__body h5,
.text-section__body h6 {
  font-weight: 400;
  line-height: 110%;
}
.text-section__body h1 span,
.text-section__body h2 span,
.text-section__body h3 span,
.text-section__body h4 span,
.text-section__body h5 span,
.text-section__body h6 span {
  color: var(--brand-color);
}
.text-section__body h1:not(:first-child),
.text-section__body h2:not(:first-child),
.text-section__body h3:not(:first-child),
.text-section__body h4:not(:first-child),
.text-section__body h5:not(:first-child),
.text-section__body h6:not(:first-child) {
  margin-top: 29px;
}
.text-section__body h1 {
  line-height: 100%;
}
.text-section__body ul,
.text-section__body ol {
  padding-left: 25px;
}
.text-section__body ul li {
  list-style: disc;
}
.text-section__body a:not(.textblock__tag) {
  font-weight: 600;
  text-decoration: underline;
}
.text-section__body img {
  margin-right: 20px;
}
@media (max-width: 47.99875em) {
  .text-section {
    margin-bottom: 100px;
  }
}
@media (width <= 29.99875em) {
  .text-section__body h1 {
    font-size: 40px;
  }
  .text-section__body h2 {
    font-size: 36px;
  }
  .text-section__body h3 {
    font-size: 32px;
  }
  .text-section__body h4 {
    font-size: 24px;
  }
  .text-section__body h5 {
    font-size: 20px;
  }
  .text-section__body h6 {
    font-size: 18px;
  }
}
@media (max-width: 29.99875em) {
  .text-section__body {
    font-size: 15px;
  }
}
@media (width > 29.99875em) and (width <= 112.5em) {
  .text-section__body h1 {
    font-size: clamp( 40px , 25.4553718883px  +  3.0302571173vw , 80px );
  }
  .text-section__body h2 {
    font-size: clamp( 36px , 25.8187603218px  +  2.1211799821vw , 64px );
  }
  .text-section__body h3 {
    font-size: clamp( 32px , 29.0910743777px  +  0.6060514235vw , 40px );
  }
  .text-section__body h4 {
    font-size: clamp( 24px , 19.6366115665px  +  0.9090771352vw , 36px );
  }
  .text-section__body h5 {
    font-size: clamp( 20px , 18.5455371888px  +  0.3030257117vw , 24px );
  }
  .text-section__body h6 {
    font-size: clamp( 18px , 17.2727685944px  +  0.1515128559vw , 20px );
  }
}
@media (width > 112.5em) {
  .text-section__body h1 {
    font-size: 80px;
  }
  .text-section__body h2 {
    font-size: 64px;
  }
  .text-section__body h3 {
    font-size: 40px;
  }
  .text-section__body h4 {
    font-size: 36px;
  }
  .text-section__body h5 {
    font-size: 24px;
  }
  .text-section__body h6 {
    font-size: 20px;
  }
}
@media (any-hover: hover) {
  .text-section__body a:not(.textblock__tag):hover {
    color: var(--100-black-60);
    text-decoration: none;
  }
}